.procressing,
.procressing * {
  box-sizing: border-box;
}
.procressing {
  background: #ffffff;
  height: 23445px;
  position: relative;
  overflow: hidden;
}
._2024-05-21-08-18-2 {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 357px;
  top: 1368px;
  object-fit: cover;
}
._2024-05-21-08-18-3 {
  width: 1236px;
  height: 908.95px;
  position: absolute;
  left: 236px;
  top: 408px;
  object-fit: cover;
}
._2024-05-21-08-45-2 {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 443px;
  top: 6139px;
  object-fit: cover;
}
._2024-05-21-08-45-3 {
  width: 1197px;
  height: 829px;
  position: absolute;
  left: 250px;
  top: 1287px;
  object-fit: cover;
}
._2024-05-21-10-00-1 {
  width: 1236px;
  height: 721.18px;
  position: absolute;
  left: 248px;
  top: 6691px;
  object-fit: cover;
}
._2024-05-21-10-02-2 {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 1304px;
  top: 3855px;
  object-fit: cover;
}
._2024-05-21-10-02-3 {
  width: 1236px;
  height: 1196.47px;
  position: absolute;
  left: 248px;
  top: 7369px;
  object-fit: cover;
}
._2024-05-21-10-18-2 {
  width: 1236px;
  height: 0px;
  position: absolute;
  left: 865px;
  top: 8488px;
  object-fit: cover;
}
._2024-05-21-10-18-3 {
  width: 1236px;
  height: 493.55px;
  position: absolute;
  left: 248px;
  top: 8489px;
  object-fit: cover;
}
.arduino-input {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 294px;
  top: 158px;
  width: 1153px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basic-knowledge {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 60px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 60px;
  top: 284px;
  width: 1153px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ultrasonic-sensor {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 208px;
  top: 5581px;
  width: 1262px;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-05-21-10-00-2 {
  width: 1236px;
  height: 934.82px;
  position: absolute;
  left: 236px;
  top: 5794px;
  object-fit: cover;
}
.img-6768-1 {
  width: 1236px;
  height: 1661.04px;
  position: absolute;
  left: 236px;
  top: 2223px;
  object-fit: cover;
}
.img-6767-1 {
  width: 1236px;
  height: 1649.44px;
  position: absolute;
  left: 236px;
  top: 3822px;
  object-fit: cover;
}
._2024-05-30-14-16-1 {
  width: 1236px;
  height: 639.33px;
  position: absolute;
  left: 221px;
  top: 21689px;
  object-fit: cover;
}
._2024-05-30-14-15-1 {
  width: 1236px;
  height: 641.02px;
  position: absolute;
  left: 221px;
  top: 22329px;
  object-fit: cover;
}
._2024-05-30-14-24-1 {
  width: 1236px;
  height: 602.39px;
  position: absolute;
  left: 248px;
  top: 19217px;
  object-fit: cover;
}
._2024-05-30-14-24-2 {
  width: 1236px;
  height: 802.75px;
  position: absolute;
  left: 248px;
  top: 19819px;
  object-fit: cover;
}
.the-circle-of-processing-is-controlled-according-to-the-size-of-the-arduino-motor {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 253px;
  top: 18830px;
  width: 1172px;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-05-30-14-36-1 {
  width: 1236px;
  height: 795.6px;
  position: absolute;
  left: 221px;
  top: 20893px;
  object-fit: cover;
}
.programming {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 221px;
  top: 19104px;
  width: 455px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.analog-circuit-connection {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 221px;
  top: 20754px;
  width: 756px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.processing-use-keyboard-to-interactive {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 278px;
  top: 9158px;
  width: 1122px;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard-functions-by-martin-gomez-click-on-the-window-to-give-it-focus-and-press-the-letter-keys-to-type-colors-the-keyboard-function-key-pressed-is-called-whenever-a-key-is-pressed-key-released-is-another-keyboard-function-that-is-called-when-a-key-is-released-original-color-typewriter-concept-by-john-maeda-int-max-height-40-int-min-height-20-int-letter-height-max-height-height-of-the-letters-int-letter-width-20-width-of-the-letter-int-x-letter-width-x-position-of-the-letters-int-y-0-y-position-of-the-letters-boolean-newletter-int-num-chars-26-there-are-26-characters-in-the-alphabet-color-colors-new-color-num-chars-void-setup-size-640-360-no-stroke-color-mode-hsb-num-chars-background-num-chars-2-set-a-hue-value-for-each-key-for-int-i-0-i-num-chars-i-colors-i-color-i-num-chars-num-chars-void-draw-if-newletter-true-draw-the-letter-int-y-pos-if-letter-height-max-height-y-pos-y-rect-x-y-pos-letter-width-letter-height-else-y-pos-y-min-height-rect-x-y-pos-letter-width-letter-height-fill-num-chars-2-rect-x-y-pos-min-height-letter-width-letter-height-newletter-false-void-key-pressed-if-the-key-is-between-a-65-to-z-and-a-to-z-122-if-key-a-key-z-key-a-key-z-int-key-index-if-key-z-key-index-key-a-letter-height-max-height-fill-colors-key-index-else-key-index-key-a-letter-height-min-height-fill-colors-key-index-else-fill-0-letter-height-10-newletter-true-update-the-letter-position-x-x-letter-width-wrap-horizontally-if-x-width-letter-width-x-0-y-max-height-wrap-vertically-if-y-height-letter-height-y-0-reset-y-to-0 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 50px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 11023px;
  width: 1236px;
  height: 7424px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2024-05-28-10-50-1 {
  width: 1236px;
  height: 746.82px;
  position: absolute;
  left: 203px;
  top: 9523px;
  object-fit: cover;
}
.img-6770-1 {
  width: 1236px;
  height: 800.17px;
  position: absolute;
  left: 203px;
  top: 10269.82px;
  object-fit: cover;
}
.reference-from-keyboard-functions-by-martin-gomez {
  color: #78a2ee;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 60px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 221px;
  top: 18447px;
  width: 1236px;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reference-from-bilibili-10-arduino-processing-https-b-23-tv-6-s-2-sf-18 {
  color: #78a2ee;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 169px;
  top: 23087px;
  width: 1373px;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.processing-with-arduino {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 159px;
  top: 18629px;
  width: 1359px;
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1 {
  background: #ffffff;
  height: 128px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.items {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-m, 48px);
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 80px;
  top: 56px;
}
.assessment {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.member {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.team {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--small-text-font-size, 16px);
  line-height: var(--small-text-line-height, 150%);
  font-weight: var(--small-text-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.final-work {
  color: #000000;
  text-align: left;
  font-family: var(--body-text-font-family, "Inter-Medium", sans-serif);
  font-size: var(--body-text-font-size, 20px);
  line-height: var(--body-text-line-height, 150%);
  font-weight: var(--body-text-font-weight, 500);
  position: absolute;
  left: 946px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4-aol {
  color: #000000;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: 80px;
  top: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
